        <div class="contents"> 
          <ul class="bullet"> 
            <a href="http://github.com/carlhuda/bundler/issues">Reporting a Bug</a> 
            <a href="./rationale.html">Understanding HerbGobbler</a> 
            <a href="./man/gemfile.5.html">Gemfile Manual</a> 
          </ul> 
        </div> 
