<p id='guest_accomplishment_upsell' class="media" style='display:none'>
  <span class="stars spritehome spriteall img"> </span>
  <span class="bd">
    You&rsquo;ve earned <span class="emphasis"><span id='guest_accomplishments'></span> badges</span> with <span id='guest_points' class="emphasis"></span> points!<br/>
    <strong>Register today</strong> to save your progress.
  </span>
</p>
