<div>
  Message Queue:
  <span class="health-numbers-number-highlighted health-mqsize-current">
    <%= ServerValue.message_queue_current_size %>
  </span>
  <span class="health-numbers-label">in queue</span>
</div>
