  <p id="won_both_badge_and_botd_content" class="botd_content regtext">
    You just earned the <%= achievement.badge.name %> Badge and <%= pluralize(achievement.reward_points, 'point') %> 
    <strong>+ <%= pluralize(achievement.reward_points, 'point') %> for Badge of the Day!</strong>
  </p>
